@font-face {
	font-family: "Raleway";
	src: url("../Raleway/Raleway-VariableFont_wght.ttf");
	
}
body
{
	font-family: Raleway;
}
a /*Supprimer le soulignement et couleur*/
{
	text-decoration: none;
	color: black;
}
header nav ul /*Bloc qui contient toute le navigateur*/
{
	display: flex;
	flex-wrap: wrap;
	list-style-type: none; /*Supprimer les puces*/
	margin: 0;
	padding: 0;
}
header nav ul li /*Bloc contour*/
{
	order: 3;
	width: 50%;
	box-sizing: border-box; /*Avoir les box de la même taille*/
	text-align: center;

}
header nav ul li a /*Bloc qui contient l'élément*/
{
	display: block;
	padding: 5px;
	font-size: 1.1em;
}
header nav ul li:first-child /*Mettre reservia en premier*/
{
	order: 1;
	text-align: left;
}
header nav ul li:last-child /*Mettre s'inscrire en second*/
{
	order: 2;
	text-align: right;
}
header nav ul li:first-child a, header nav ul li:last-child a
{
	display: inline-block; /*Le lien s'inscrire prends uniquement prends uniquement les caracteres et non le bloc*/
}
header nav ul li em /**/
{
color:#0065FC;
font-weight: bold;
}
.ligne1 /*Situer et gérer le texte*/
{
	font-size: 1.3em;
	font-weight: bold;
}
.ligne2 /*Situer et gérer le texte*/
{
	font-size: 1em;
	margin-bottom: 1.5%;
}
#barreDeRecherche
{
	width: fit-content;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
	border: 1px #F2F2F2 solid;
	border-radius: 15px;
	display: flex;
	margin-bottom: 1%;
}
.logoPosition i /*Couleur et position du logo du formulaire*/
{
	border: 10px #F2F2F2 solid;
	background-color: #F2F2F2;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	height: 25px;
	width: 25px;
	display: flex;
	justify-content: center;
	align-items: center;	
}
.bouton button i
{
	display: none; /*Enlever le logo*/
}
input /*Situer le formulaire*/
{
	height: 45px;
	border: 0;
	border: 1px #F2F2F2 solid;
	border-color: #F2F2F2;
	font-weight: bold;
	padding-left: 1%;
	font-size: 1em;
}
.bouton button /*Situer, couleur et forme du bouton Rechercher*/
{
	background-color: #0065FC;
	border: 0;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	font-weight: bold;
	height: 45px;
	width: 140%;
	color: white;
}
#filtre /*Aligner les filtres*/
{
	display: flex;
}
.filtre1 /*Situer le mot "Filtre"*/
{
margin-top: 33px;
margin-right: 20px;
font-weight: bold;
}
.filtre2, .filtre3, .filtre4, .filtre5 /*Bordure et situer les filtres*/
{
	border: 3px #F2F2F2 solid;
	display: flex;
	align-items: center;
	border-radius: 20px;
	padding-right: 25px;
	margin-right: 20px;
	margin-top: 20px;
}
.filtre2:hover, .filtre3:hover, .filtre4:hover, .filtre5:hover
{
	font-size: x-large;
	color: #0065FC;
}
.logo/*Fond bleu et position des logos*/
{
	width: 40px;
	height: 40px;
	background-color: #DEEBFF;
	position: relative;
	right: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	color: #0065FC;
}
#filtre em /*Situer les différents filtres*/
{
font-size: medium;
font-style: normal;
font-weight: bold;
padding-left: 10px;
}
.logoI /*Situer le logo information*/
{
	top: 15px;
	color: #0065FC;
    border: 1Px #F2F2F2 solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}
.logoI i
{
	font-size: x-small;
}
.ligne3 /*Situer et gérer le texte*/
{
	font-size: 1em;
}
														/*FIN DU HEADER*/

														/*SECTION BLOC HEBERGEMENT*/
.hebergementMarseille /*taille du bloc principal*/
{
	background-color: #F2F2F2;
	width: 65%;
	height: 550px;
	border-radius: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.hebergementMarseille h1 /*Texte dans le bloc principal*/
{
	font-size: large;
	font-weight: bold;
	margin-left: 30px;
	padding-top: 10px;
	width: 100%;
}
.hebergement /*bloc pour toute les photos*/
{
	border: 4px white solid;
	box-shadow: 3px 3px 3px gray;
	background-color: white;
	width: 28%;
	margin-bottom: 5px;
	height: 180px;
	border-radius: 15px;
}
.photoMarseille/*Taille de la box pour la photo*/
{
	height: 60%;
	width: 100%;
}
.photoMarseille img /*Insérer l'image dans la bonne proportion*/ 
{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	height: 100%;
	width: 100%;
	object-fit: cover; /*rend l'image plus net*/
}
.titrePhoto /*Situer titre de l'image*/
{
	padding-top: 5px;
	font-size: large;
	margin-left: 10px;
	font-weight: bold;
}
.prixNuit /*Situer prix de la nuit*/
{
	font-size: medium;
	margin-left: 10px;
}
.logoEtoileBleu /*Couleur et situer l'étoile*/
{
	margin-left: 8px;
	padding-top: 5px;
	color: #0065FC;
}
.logoEtoileBleu em /*Couleur étoile transparente*/
{
	color: #F2F2F2;
}
.blocGeneral /*Taille du bloc General*/
{
	margin-top: 45px;
	border-radius: 20px;
	height: 550px;
	display: flex;
	justify-content: space-between;
}
.suiteHebergement
{
	width: 90%;
}
.suiteHebergement p
{
	font-size: large;
	font-weight: bold;
	width: inherit;
}
															/*SECTION BLOC POPULAIRE*/
.lesPlusPopulaires /*Situer et taille du bloc 3*/								
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 30%;
	height: 550px;
	background-color: #F2F2F2;
}
.lesPlusPopulaires h2 /*Situer le texte*/
{	
	width: 90%;
	display: flex;
	justify-content: space-between;
	font-size: large;
	font-weight: bold;
	margin-left: 5%;
}
.lesPlusPopulaires h2 i /*Situer logo du bloc 3*/
{
	justify-content: end;
}
.hebergementPopulaire /*Taille des bloc contour*/
{
	border: 4px white solid;
	box-shadow: 3px 3px 3px gray;
	background-color: white;
	margin-left: 10px;
	width: 90%;
	height: 120px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.photoPopulaire /*définir l'espace de la photo*/
{
	height: 100%;
	width: 40%;
}
.photoPopulaire img /*Placer la photo*/
{
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	height: 100%;
	width: 100%;
	object-fit: cover; /*rend l'image plus net*/
}
.titrePhotoPopulaire /*Situer le titre populaire*/
{
	padding-top: 5px;
	font-size: large;
	margin-left: 10px;
	font-weight: bold;
}
.prixNuitPopulaire /*Situer le prix populaire*/
{
	font-size: medium;
	margin-left: 10px;
}
.placementEtoile
{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 40%;
}
.logoEtoileBleuPopulaire i, .logoEtoileBleuPopulaire1 i /*Situer etoile populaire*/
{		
	color: #0065FC;
}
.logoEtoileBleuPopulaire i:first-child, .logoEtoileBleuPopulaire1 i:first-child
{
	margin-left: 5px;
}
.logoEtoileBleuPopulaire1 i:last-child
{
	color:  #F2F2F2
}
														/*BLOC ACTIVITE*/
.blocGeneralActivite /*Bloc general pour les activités*/
{
	width: 100%;
	height: 480px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.titreActivite h3 /*Gérer le titre*/
{
	font-size: large;
	font-weight: bold;
	padding-top: 5%;
}
.activiteMarseille /*Situer bloc activité*/
{
	background-color: white;
	box-shadow: 3px 3px 10px #F2F2F2;
	width: 22%;
	height: 390px;
	border-radius: 15px;
}
.photoActivite /*Definir l'espace de la photo 1*/
{
	height: 85%;
	width: 100%;
}
.photoActivite img, .photoActivite1 img, .photoActivite2 img, .photoActivite3 img, .photoActivite4 img/*Insérer la photo dans le bloc contour*/
{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 100%;
	width: 100%;
	object-fit: cover; /*Rend l'image plus net*/
}
.titrePhotoActivite p/*Situer le titre*/
{
	font-size: large;
	margin-left: 10px;
}
.activiteMarseille1 /*Situer bloc activité*/
{
	box-shadow: 3px 3px 10px #F2F2F2;
	background-color: white;
	width: 22%;
	height: 45%;
	border-radius: 15px;
}
.photoActivite1 /*Definir l'espace de la photo 2*/
{
	height: 75%;
	width: 100%;
}
.activiteMarseille2 /*Situer bloc activité*/
{
	box-shadow: 3px 3px 10px #F2F2F2;
	background-color: white;
	width: 22%;
	height: 32%;
	border-radius: 15px;
}
.photoActivite2 /*Definir l'espace de la photo 3*/
{
	height: 62%;
	width: 100%;
}
.activiteMarseille3 /*Situer bloc activité*/
{
	box-shadow: 3px 3px 10px #F2F2F2;
	background-color: white;
	width: 22%;
	height: 36%;
	border-radius: 15px;
}
.photoActivite3 /*Definir l'espace de la photo 3*/
{
	height: 70%;
	width: 100%;
}
.activiteMarseille4 /*Situer bloc activité*/
{
	box-shadow: 3px 3px 10px #F2F2F2;
	background-color: white;
	width: 22%;
	height: 41%;
	border-radius: 15px;
}
.photoActivite4 /*Definir l'espace de la photo 4*/
{
	height: 70%;
	width: 100%;
}
															/*FOOTER*/
.blocFooter /*Situer bloc footer*/
{
	background-color: #F2F2F2;
	display: flex;
}
.titreFooter p /*Gérer le texte*/
{
	font-size: large;
	font-weight: bold;
}
.titreFooter ul /*Enlever les puces*/
{
	list-style-type: none;
}
														/*RESPONSIVE DESIGN*/ 
@media all and (min-width: 1024px) /*Grand écran*/
{
	header, section /*Marge de l'écran*/
	{
	margin-left: 4%;
	}
	header nav ul 
	{
		justify-content: flex-end;
	}
	header nav ul li /*Mettre les blocs au niveau des caracteres*/
	{
		width: auto;
	}
	header nav ul li:nth-child(2),header nav ul li:nth-child(3),header nav ul li:nth-child(4)
	{
		padding-left: 5%;
	}
	header nav ul li:first-child 
	{
		margin: 0; /*Mettre reservia en bout de bloc*/
		margin-right: auto;
	}
	header nav ul li:last-child /*Mettre s'sinscrire en dernier*/
	{
		order: 3;
	}
	.blocLigne3
	{
		width: auto;
		margin-top: 3%;
		display: flex;
		align-items: center;
		width: 35%;
		justify-content: space-between;
	}
	.hebergementMarseille
	{
		border: 5px #F2F2F2 solid;
	}
	.activiteMarseille1, .activiteMarseille3
	{
		margin-bottom: 20px;
	}
	.lesPlusPopulaires 
	{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 30%;
		height: 550px;
		border: 5px #F2F2F2 solid;
		background-color: #F2F2F2;
		border-radius: 20px;
	}
	.titreFooter /*Predefinir taille des blocs ul*/
	{
		width: 40%;
	}
	.titreFooter p
	{
		margin-left: 9%;
	}
}
@media all and (max-width: 1024px) /*Petit écran*/
{
	body
	{
		margin: 0;
	}
	header
	{
		margin-left: 2%;
	}
	header nav ul li:nth-child(3),header nav ul li:nth-child(2)
	{
		margin-bottom: 5%;
	}
	header nav ul li:last-child /*Mettre au milieu le bouton s'inscrire*/
	{
		padding-top: 1.5%;
	}
	.ligne2
	{
		margin-top: 2%;
		margin-bottom: 6%;
	}
	.logoI
	{
		width: 25px;
	}
	.blocLigne3 
	{
		display: flex;
		margin-top: 6%;
	}
	.blocLigne3 :last-child
	{
		margin-left: 2%;
	}
	input
	{
		border: 0;
	}
	.bouton button
	{
		width: 170%;
		border: 0;
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.bouton button i /*Image search*/
	{
		display: inline; /*Afficher logo*/
	}
	.bouton button span /*Rechercher*/
	{
		display: none; /*Enlever Rechercher*/
	}
	.filtre1
	{
		width: 100%;
	}
	#filtre
	{
		display: flex;
		flex-wrap: wrap;
	}
	.blocGeneral
	{
		align-items: center;
		width: 100%;
		height: auto;
		flex-direction: column-reverse;
	}
	.hebergementMarseille h1
	{
		width: 90%;
		margin-left: 0;
	}
	.hebergement
	{
		width: 90%;
		align-items: center;
		margin-top: 10px;
	}
	.hebergementMarseille
	{
		width: 100%;
		height: auto;
		flex-direction: column;
		align-items: center;
		background-color: white;
		border-color: white;
	}
	.lesPlusPopulaires
	{
		width: 100%;
		align-items: center;
	}
	.lesPlusPopulaires h2
	{
		width: 90%;
		margin-right: 4%;
	}
	.hebergementPopulaire
	{
		width: 90%;
		margin-left: 0;
	}
	.titreActivite h3
	{
		font-size: large;
		font-weight: bold;
		width: 63%;
		padding-top: 0;
		margin-left: 5%;
	}
	.blocGeneralActivite
	{
		width: 100%;
		height: auto;
		margin-bottom: 5%;
		align-items: center;
		flex-direction: column;
	}
	.activiteMarseille, .activiteMarseille1, .activiteMarseille2, .activiteMarseille3, .activiteMarseille4
	{
		width:90%;
		height: 180px;
		margin-top: 10px;
		align-items: center;
		border: 4px white solid;
		box-shadow: 3px 3px 3px grey;
		background-color: white;
		border-radius: 15px;
	}
	.photoActivite, .photoActivite1, .photoActivite2, .photoActivite3, .photoActivite4
	{
		height: 70%;
    	width: 100%
	}
	.blocFooter
	{
		flex-direction: column;
		width: 100%;
	}
	.titreFooter p
	{
		margin-left: 5%;
	}
	.titreFooter ul
	{
		padding-inline-start: 0;
		margin-left: 5%;
	}
}
